<html>
<head>
<title>Atmosphere TEP Dashboard</title>
	<link rel="stylesheet" type="text/css" href="core.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>

	<script>

	var url = window.location.protocol + "//" + window.location.hostname;

	var app = angular.module('ConfigApp', []);
	app.controller('ConfigController', function($scope, $http) {

    	$http.get(url + ":32203/dash/get")
    	.then(function (response) {    
    		$scope.metrics = response.data;
    	});

		$scope.insertdata = function() {
			json = $scope.metrics;

			$http.post(url + ":32203/dash/save", {
				json
			})
			.success(function(data, status, headers, config) {
				console.log("Operation performed successfully!");
				alert("Data is inserted.");
			})
			.error(function (error){
        		$scope.data.error=error;
        		console.log($scope.data.error.status);
        		alert(error);
    		});
		}
	});
 
	</script>
</head>

<body>
	<p>
		<b> Configuration Form </b>
	<div ng-app="ConfigApp" ng-controller="ConfigController">
		<form ng-app="ngNumbersOnly">
			<table class="greyGridTable">
				<tr>
					<th>Properties</th>
					<th>Relevance (Weights)</th>
					<th>Thresholds (0-1)</th>
					<!-- <th>Periodicity (ms)</th> -->
				</tr>
				<tr ng-repeat="item in metrics">
					<td style="text-align: left">
						<label for="metrics[$index].Name">{{ item.Name }}</label>
					</td>
					<td>
						<input type="number" ng-model="metrics[$index].Relevance" min="0" max="100">%<br /> 
					</td>
					<td>
						<input type="number" ng-model="metrics[$index].Threshold" min="0" max="1" precision="2" step="0.05">
					</td>
				</tr>
			</table>
			<input type="button" value="submit" ng-click="insertdata()" />
		</form>
	</div>
	</p>
</body>
</html>
