server:
    port : 9090

spring:
    jpa:
        database: mysql
        hibernate:
                ddl-auto: validate
                naming:
                    implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
                    physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        show-sql: false
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL5Dialect
                format_sql: true
    datasource:
        url: jdbc:mysql://mysql-0.mysql.default.svc.cluster.local:3306/knowledge
        username: root
        password: passtobereplaced
        driverClassName: com.mysql.cj.jdbc.Driver